<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sqlitelogin_crud">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SqliteLoginCrud">
        <activity
            android:name=".VerActivity"
            android:exported="true"
            android:parentActivityName=".ProductoListActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".ProductoListActivity" />
        </activity>
        <activity
            android:name=".ProductoActivity"
            android:exported="true"
            android:parentActivityName=".ProductoListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProductoListActivity" />
        </activity>

        <activity
            android:name=".EditarActivity"
            android:exported="true"
            android:parentActivityName=".ProductoListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProductoListActivity" />
        </activity>
        <activity
            android:name=".ProductoListActivity"
            android:exported="true"  android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>